@charset "utf-8";
@import "./reset.css";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

/* Header */
header .flex {
    justify-content: space-between;
}

header {
    background-color: cadetblue;
    height: 80px;
    line-height: 80px;
}

ul {
    list-style: none;
}


/* Hero Banner */
.banner {
    height: calc(100svh - 180px);
    background: none;
}

.content {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.buttons {
    justify-content: center;
    gap: 30px;
}

button {
    padding: 10px;
}
#about {
    background-color: burlywood;
}
#contact {
    background-color: coral;
}


#infobox {
    background-color: orchid;
    height: auto;
    width: 400px;
    margin: 30px;
    padding: 30px;
}

/* Footer */
footer {
    height: 100px;
    background-color: bisque;
    
    a{
        font-size: 16px;
        line-height: auto;
        i {
            font-size: 25px;
        }
    }
}

